<%= form_with(model: service, html: { class: 'box' }) do |form| %>
  <% if service.errors.any? %>
    <div class="notification is-danger">
      <h2 class="subtitle"><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>
      <ul>
        <% service.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="columns is-multiline">
    <!-- Name -->
    <div class="column is-full">
      <div class="field">
        <%= form.label :name, class: "label" %>
        <div class="control">
          <%= form.text_field :name, class: "input" %>
        </div>
      </div>
    </div>

    <!-- Description -->
    <div class="column is-full">
      <div class="field">
        <%= form.label :description, class: "label" %>
        <div class="control">
          <%= form.text_area :description, class: "textarea" %>
        </div>
      </div>
    </div>


    <!-- Price and Duration -->
    <div class="column is-one-quarter">
      <div class="field">
        <%= form.label :price, class: "label" %>
        <div class="control has-icons-left">
          <%= form.number_field :price, step: 0.01, min: 0, class: "input", placeholder: "e.g. 100.00" %>

          <span class="icon is-small is-left">
            <i class="fas fa-dollar-sign"></i>
          </span>
        </div>
      </div>
    </div>

<div class="column is-one-quarter">
  <div class="field">
    <%= form.label :currency, class: "label" %>
    <div class="control has-icons-left">
      <div class="select is-fullwidth">
        <%= form.select :currency, options_for_select(['KGS', 'KZT', 'UZS', 'USD', 'RUB'], selected: form.object.currency), { include_blank: 'Select Currency' } %>
      </div>
      <span class="icon is-small is-left">
        <i class="fas fa-dollar-sign"></i>
      </span>
    </div>
  </div>
</div>

    <div class="column is-half">
      <div class="field">
        <%= form.label :duration_minutes, class: "label" %>
        <div class="control has-icons-left">
          <%= form.number_field :duration_minutes, class: "input", placeholder: "Minutes" %>
          <span class="icon is-small is-left">
            <i class="fas fa-clock"></i>
          </span>
        </div>
      </div>
    </div>

    <!-- Delivery Method -->
    <div class="column is-full">
      <div class="field">
        <%= form.label :delivery_method, class: "label" %>
        <div class="control">
          <div class="select is-fullwidth">
            <%= form.select :delivery_method, 
                Service.delivery_methods.map { |key, value| [key.humanize, key] },
                { selected: 'unspecified' },
                class: "input" %>
          </div>
        </div>
      </div>
    </div>

    <!-- Submit Button -->
    <div class="column is-full">
      <div class="field">
        <div class="control">
          <%= form.submit class: "button is-primary is-fullwidth" %>
        </div>
      </div>
    </div>
  </div>
<% end %>