<div id="<%= dom_id service %>">

  <p>
    
    <strong><%= service.name %></strong> | <%= service.delivery_method %>
  </p> 

  <p>
    
    <%= service.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= service.price %>

    <strong>Duration minutes:</strong>
    <%= service.duration_minutes %>
  </p>

  <p>
 
   
  </p>

</div>
