<div id="<%= dom_id internal_client_profile %>">
  <p>
    <strong>First name:</strong>
    <%= internal_client_profile.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= internal_client_profile.last_name %>
  </p>

  <p>
    <strong>Phone number1:</strong>
    <%= internal_client_profile.phone_number1 %>
  </p>

  <p>
    <strong>Phone number2:</strong>
    <%= internal_client_profile.phone_number2 %>
  </p>

  <p>
    <strong>Telegram:</strong>
    <%= internal_client_profile.telegram %>
  </p>

  <p>
    <strong>Whatsapp:</strong>
    <%= internal_client_profile.whatsapp %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= internal_client_profile.gender %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= internal_client_profile.dob %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= internal_client_profile.country %>
  </p>

  <p>
    <strong>City:</strong>
    <%= internal_client_profile.city %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= internal_client_profile.address %>
  </p>

  <p>
    <strong>Internal reference number:</strong>
    <%= internal_client_profile.internal_reference_number %>
  </p>

  <p>
    <strong>Preferred contact method:</strong>
    <%= internal_client_profile.preferred_contact_method %>
  </p>

  <p>
    <strong>Emergency contact name:</strong>
    <%= internal_client_profile.emergency_contact_name %>
  </p>

  <p>
    <strong>Emergency contact phone:</strong>
    <%= internal_client_profile.emergency_contact_phone %>
  </p>

  <p>
    <strong>Emergency contact relationship:</strong>
    <%= internal_client_profile.emergency_contact_relationship %>
  </p>

  <p>
    <strong>Reason for referral:</strong>
    <%= internal_client_profile.reason_for_referral %>
  </p>

  <p>
    <strong>Gp name:</strong>
    <%= internal_client_profile.gp_name %>
  </p>

  <p>
    <strong>Gp contact info:</strong>
    <%= internal_client_profile.gp_contact_info %>
  </p>

  <p>
    <strong>Initial assessment summary:</strong>
    <%= internal_client_profile.initial_assessment_summary %>
  </p>

  <p>
    <strong>Risk assessment summary:</strong>
    <%= internal_client_profile.risk_assessment_summary %>
  </p>

  <p>
    <strong>Treatment plan summary:</strong>
    <%= internal_client_profile.treatment_plan_summary %>
  </p>

  <p>
    <strong>First time therapy:</strong>
    <%= internal_client_profile.first_time_therapy %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= internal_client_profile.status %>
  </p>

  <p>
    <strong>Psychologist profile:</strong>
    <%= internal_client_profile.psychologist_profile_id %>
  </p>

  <p>
    <strong>Client profile:</strong>
    <%= internal_client_profile.client_profile_id %>
  </p>

</div>
