<h1><%= @quiz.title %></h1>
<p><%= @quiz.description %></p>

<%= form_with url: submit_quiz_path(@quiz), method: :post, data: { turbo: false } do %>
  <% @quiz.questions.each do |question| %>
    <div class="question <%= 'missing' if @missing_questions&.include?(question) %>">
      <p><%= question.content %></p>
      <% question.question_options.each do |option| %>
        <label>
          <%= radio_button_tag "responses[#{question.id}]", option.value,
                              params.dig(:responses, question.id.to_s) == option.value.to_s %>
          <%= option.text %>
        </label>
      <% end %>
    </div>
  <% end %>

  <%= submit_tag "Submit Quiz", class: "button is-primary" %>
<% end %>


<style>
.question.missing {
  border: 2px solid red;
  padding: 10px;
  border-radius: 6px;
  background-color: #ffe6e6;
}
</style>