<%# app/views/progress_notes/show.html.erb %>

<%# This file displays the details of a single progress note. %>

<section class="section">
  <div class="container">
    <h1 class="title is-3">Progress Note Details</h1>

    <%# Display flash messages %>
    <% if notice %>
      <div class="notification is-success">
        <%= notice %>
      </div>
    <% end %>

    <div class="box">
        <i class="far fa-calendar-alt mr-2"></i>Note - <%= @progress_note.note_date.present? ? note.note_date.strftime("%B %d, %Y") : 'N/A' %>

      <p><strong>Notes:</strong><br><%= simple_format(@progress_note.notes) %></p>
      <p><strong>Homework Assigned:</strong><br><%= simple_format(@progress_note.homework_assigned) %></p>
      <p><strong>Assessment Score:</strong> <%= @progress_note.assessment_score %></p>

      <% if @progress_note.booking %>
        <p><strong>Linked Booking:</strong> <%= @progress_note.booking.start_time.strftime('%B %d, %Y – %H:%M') %></p>
      <% end %>

      <div class="buttons mt-4">
        <%= link_to "Edit", edit_internal_client_profile_therapy_plan_progress_note_path(@internal_client_profile, @therapy_plan, @progress_note), class: "button is-warning is-small" %>
<%= link_to "Back to Plan", [@internal_client_profile, @therapy_plan], class: "button is-light is-small" %>
<%= button_to [@internal_client_profile, @therapy_plan, @progress_note],
    method: :delete,
    data: { turbo_confirm: "Are you sure you want to delete this progress note?" },
    class: "button is-danger is-small" do %>
  <span class="icon is-small"><i class="fas fa-trash"></i></span>
  <span>Delete</span>
<% end %>
</div>
    </div>
  </div>
</section>
