<div id="<%= dom_id issue %>">
  <p>
    <strong>Name:</strong>
    <%= issue.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= issue.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= issue.category %>
  </p>

  <p>
    <strong>Severity level:</strong>
    <%= issue.severity_level %>
  </p>

  <p><strong>Client Types:</strong>
  <%= issue.client_types.map(&:name).to_sentence.presence || "None" %>
</p>
</div>
