<div id="<%= dom_id article %>">


  <h1>
    <%= link_to article.title, article_path(article) %>
  </h1>
    by <%= article.psychologist_profile.full_name %> <%= article.published_at %>

  <p>
    <%= article.body %>
  </p>
</div>
