<p style="color: green"><%= notice %></p>
<%= link_to "Edit this article", edit_article_path(@article) %> |
<%= render @article %>

<div>
  
  <%= link_to "Back to articles", articles_path %>

  <%= button_to "Destroy this article", @article, method: :delete %>
</div>
