<div id="<%= dom_id client_profile %>">
  <p>
    <strong>First Name:</strong>
    <%= client_profile.first_name %>
  </p>

    <p>
    <strong>Last Name:</strong>
    <%= client_profile.last_name %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= client_profile.dob %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= client_profile.gender %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= client_profile.country %>
  </p>

  <p>
    <strong>City:</strong>
    <%= client_profile.city %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= client_profile.address %>
  </p>

  <p>
    <strong>Timezone:</strong>
    <%= client_profile.timezone %>
  </p>

  <p>
    <strong>Phone number1:</strong>
    <%= client_profile.phone_number1 %>
  </p>

  <p>
    <strong>Phone number2:</strong>
    <%= client_profile.phone_number2 %>
  </p>

  <p>
    <strong>Telegram:</strong>
    <%= client_profile.telegram %>
  </p>

  <p>
    <strong>Whatsapp:</strong>
    <%= client_profile.whatsapp %>
  </p>

  <p>
    <strong>User:</strong>
    <%= client_profile.user_id %>
  </p>

</div>
