<div id="<%= dom_id psychological_issue %>">
  <p>
    <strong>Name:</strong>
    <%= psychological_issue.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= psychological_issue.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= psychological_issue.category %>
  </p>

  <p>
    <strong>Severity level:</strong>
    <%= psychological_issue.severity_level %>
  </p>

</div>
