<%= form_with model: @booking, url: assign_client_path, local: true do |f| %>
  <% if @psychologist && @service %>
    <%= f.hidden_field :psychologist_id, value: @psychologist.id %>
    <%= f.hidden_field :service_id, value: @service.id %>
    <%= f.hidden_field :start_time, value: @selected_time %>

    <!-- Pick an existing client -->
    <div class="field">
      <%= f.label :client_info_id, "Select Existing Client" %>
      <%= f.collection_select :client_info_id, @clients, :id, :full_name, include_blank: true, class: "select" %>
    </div>

    <!-- Or create a new client -->
    <h3>Or create a new client</h3>
    <%= f.fields_for :client_info do |client_f| %>
      <%= render "client_infos/client_info_fields", f: client_f %>
    <% end %>

    <div class="field">
      <%= f.submit "Confirm Booking", class: "button is-primary" %>
    </div>
  <% else %>
    <p class="has-text-danger">Psychologist or Service is missing. Please select both to continue.</p>
  <% end %>
<% end %>
