<!-- app/views/bookings/choose_time.html.erb -->

<div class="container is-max-desktop mt-6">
  <h1 class="title has-text-centered mb-4">Choose a Time</h1>

  <div class="box p-5 has-shadow">
    <div class="mb-4">
      <%= form_with url: choose_time_path, method: :get, local: true, class: "control" do |form| %>
        <%= form.hidden_field :psychologist_id, value: @psychologist.id %>
        <%= form.hidden_field :service_id, value: @service.id %>

        <div class="field">
          <%= form.label :date, "Select Date", class: "label" %>
          <div class="control">
            <%= form.date_field :date, value: @date || Date.today, class: "input" %>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <%= form.submit "Update Availability", class: "button is-primary" %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="columns is-multiline">
      <% @time_slots.each do |utc_time| %>
        <% slot_end_time = (Time.parse(utc_time) + @service.duration_minutes.minutes).utc.iso8601 %>

        <div class="column is-one-third">
          <%= link_to assign_client_path(
                psychologist_id: @psychologist.id,
                service_id: @service.id,
                selected_time: utc_time,
                date: @date
              ),
              class: "button is-success is-fullwidth utc-date-time-range",
              data: { utc: utc_time } do %>

            <span class="local-time">Loading...</span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  document.addEventListener("turbo:load", function () {
    document.querySelectorAll(".utc-date-time-range").forEach(function (el) {
      const utcString = el.dataset.utc;
      if (!utcString) return;

      const utcDate = new Date(utcString);

      // Get browser local time in 12h format
      const optionsTime = { hour: "2-digit", minute: "2-digit", hour12: true };

      const localTimeStr = utcDate.toLocaleTimeString(undefined, optionsTime);

      // Get browser timezone short name (like "AEDT", "PST", "GMT")
      const tzName = Intl.DateTimeFormat().resolvedOptions().timeZone;

      // Simple way to get short timezone abbreviation:
      // Using toLocaleTimeString with timeZoneName: 'short' and slicing abbreviation
      const tzShort = utcDate.toLocaleTimeString(undefined, { timeZoneName: "short" }).split(' ').pop();

      // Set local time text with timezone abbreviation
      const localTimeSpan = el.querySelector(".local-time");
      if (localTimeSpan) {
        localTimeSpan.textContent = `${localTimeStr} (${tzShort})`;
      }
    });
  });
</script>

