<h1>Booking Details</h1>
<p>Service: <%= @booking.service&.name %></p>
<p>Start Time: <%= @booking.start_time %></p>
<p>End Time: <%= @booking.end_time %></p>
<p>Status: <%= @booking.status %></p>

<% if @booking.pending? && @booking.created_by == 'psychologist' %>
  <p>Share this link with the client to confirm the booking: 
    <a href="<%= confirm_booking_url(@booking, token: @booking.confirmation_token) %>">
      <%= confirm_booking_url(@booking, token: @booking.confirmation_token) %>
    </a>
  </p>
<% end %>