<div class="container is-max-desktop">
  <div class="columns is-centered">
    <div class="column is-three-fifths-desktop is-four-fifths-tablet">

      <% if notice.present? %>
        <div class="notification is-success mt-4">
          <button class="delete"></button>
          <p><%= notice %></p>
        </div>
      <% end %>

      <div class="card my-5">
        <header class="card-header">
          <p class="card-header-title">
            Details for <%= @specialty.name %> 
          </p>
        </header>
        
        <div class="card-content">
          <div class="content">
            <%= render @specialty %>
          </div>
        </div>

        <footer class="card-footer">
          <%= link_to "Edit this specialty", edit_specialty_path(@specialty), class: "card-footer-item button is-text" %>
          <%= link_to "Back", :back, class: "card-footer-item button is-text" %>

        </footer>
      </div>
      
    </div>
  </div>
</div>

<script>
  // JavaScript to make the notification closeable (optional, but good practice)
  document.addEventListener('DOMContentLoaded', () => {
    (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
      const $notification = $delete.parentNode;

      $delete.addEventListener('click', () => {
        $notification.parentNode.removeChild($notification);
      });
    });
  });
</script>