<div class="container">
  <div class="columns is-centered mt-6 mb-6">
    <div class="column is-10">
      <div class="card">
        
 <!-- Profile Header -->
<div class="card-content">
  <div class="columns is-vcentered">
    <div class="column is-one-quarter">
      <% if psychologist_profile.profile_img.attached? %>
        <figure class="image" style="max-width: 180px;">
          <%= image_tag url_for(psychologist_profile.profile_img), class: "is-rounded is-fullwidth", alt: "Profile image" %>
        </figure>
      <% else %>
        <figure class="image" style="max-width: 180px;">
          <img src="/api/placeholder/128/128" class="is-rounded is-fullwidth" alt="Profile placeholder">
        </figure>
      <% end %>
    </div>
    <div class="column">
      <h2 class="title is-4 has-text-grey-dark">
      <span class="has-text-link">
        <%= "#{@psychologist_profile.first_name} #{@psychologist_profile.last_name}" %></span> 
      </h2> <% if @psychologist_profile.languages.any? %>
  <p><strong>Languages Spoken:</strong>
    <%= @psychologist_profile.languages.map(&:name).to_sentence %>
  </p>
<% else %>
  <p><strong>Languages Spoken:</strong> Not specified</p>
<% end %>
      <div class="tags">
        
        <% if psychologist_profile.is_doctor %>
          <span class="tag is-light has-text-grey-dark">Doctor</span>
        <% end %>
        <% if psychologist_profile.is_degree_boolean%>
          <span class="tag is-light has-text-grey-dark">Certified</span>
        <% end %>
        <span class="tag is-white has-text-grey"><%= psychologist_profile.gender %></span>
        <span class="tag is-white has-text-grey"><%= psychologist_profile.years_of_experience %> yrs experience</span>
      </div>

      <p class="mt-2 has-text-grey">
        <span class="icon has-text-grey"><i class="fas fa-map-marker-alt"></i></span>
        <%= psychologist_profile.city %>, <%= psychologist_profile.country %>
        <% if psychologist_profile.address.present? %>
          • <%= psychologist_profile.address %>
        <% end %>
      </p>

      <p class="has-text-grey">
        <span class="icon has-text-grey"><i class="fas fa-id-card"></i></span>
        License: <%= psychologist_profile.license_number %>
      </p>
    </div>
  </div>
</div>

        <!-- About -->
        <div class="card-content">
          <h3 class="title is-5 has-text-link">About</h3>
          <div class="content">
            <p><%= psychologist_profile.about_me %></p>
          </div>
        </div>

        <hr class="has-background-light m-0">

        <!-- Education -->
        <div class="card-content">
          <h3 class="title is-5 has-text-link">Education & Qualifications</h3>
          <div class="content">
            <p><%= psychologist_profile.education %></p>
          </div>
        </div>

        <hr class="has-background-light m-0">

        
        <div class="card-content">
                  
          <h3 class="title is-5 has-text-link">Services Offered</h3>
          <% if psychologist_profile.user.services.any? %>
            <div class="columns is-multiline">
              <% psychologist_profile.user.services.each do |service| %>
                <div class="column is-half">
                  <div class="box">
                    <h4 class="title is-6 has-text-primary"><%= service.name %></h4>
                    <div class="level is-mobile">
                      <div class="level-left">
                        <div class="level-item">
                          <span class="tag is-link is-medium">
                         <% if service.price == 0 %>
                          Free
                        <% else %>
                          <%= service.price %> <%= service.currency %>
                          <% if service.currency.present? && current_currency.present? %>
                            <% converted = service.converted_rate(current_currency) %>
                            <%= humanized_money_with_symbol(converted) if converted %>
                          <% end %>
                        <% end %>
                          </span>
                        </div>
                      </div>
                      <div class="level-right">
                        <div class="level-item">
                          <span class="tag is-light"><%= service.duration_minutes %> min</span>
                        </div>
                        <div class="level-item">
                          <span class="tag is-dark"><%= service.delivery_method %></span>
                        </div>
                      </div>
                    </div>
                    <p><%= service.description %></p>
                    <%= link_to "More Info", service, class: "button is-small is-link mt-2" %>
                  </div>
                </div>
              <% end %>
            </div>
          <% else %>
            <p>No services available at this time.</p>
            <%= link_to "Add your first service", new_service_path %>
          <% end %>

              <% if psychologist_profile.user.id = current_user %>
                            <%= link_to "Add  a new service", new_service_path %>
                      <% end %>
        </div>

        <hr class="has-background-light m-0">

        <!-- Specialties, Client Types, Issues -->
        <div class="card-content">
          <h3 class="title is-5 has-text-link">Areas of Focus</h3>
          <div class="columns">
            <div class="column">
              <h4 class="subtitle is-6 has-text-weight-bold has-text-link-dark">Specialties</h4>
              <ul>
                <% @psychologist_profile.specialties.each do |specialty| %>
                  <li><span class="tag is-info is-light mb-1"><%= specialty.name %></span></li>
                <% end %>
              </ul>
            </div>
            <div class="column">
              <h4 class="subtitle is-6 has-text-weight-bold has-text-link-dark">Client Types</h4>
              <ul>
                <% @psychologist_profile.client_types.each do |client_type| %>
                  <li><span class="tag is-primary is-light mb-1"><%= client_type.name %></span></li>
                <% end %>
              </ul>
            </div>
            <div class="column">
              <h4 class="subtitle is-6 has-text-weight-bold has-text-link-dark">Issues</h4>
              <ul>
                <% @psychologist_profile.issues.each do |issue| %>
                  <li><span class="tag is-link is-light mb-1"><%= issue.name %></span></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>

        <hr class="has-background-light m-0">

        <!-- Contact Info -->
        <div class="card-content">
          <h3 class="title is-5 has-text-link">Contact Information</h3>
          <div class="columns is-multiline">
            <div class="column is-half">
              <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left">
                  <input class="input is-static" readonly value="<%= psychologist_profile.user.email %>">
                  <span class="icon is-left"><i class="fas fa-envelope"></i></span>
                </div>
              </div>
            </div>

            <% if psychologist_profile.telegram.present? %>
              <div class="column is-half">
                <div class="field">
                  <label class="label">Telegram</label>
                  <div class="control has-icons-left">
                    <input class="input is-static" readonly value="<%= psychologist_profile.telegram %>">
                    <span class="icon is-left"><i class="fab fa-telegram"></i></span>
                  </div>
                </div>
              </div>
            <% end %>

            <% if psychologist_profile.whatsapp.present? %>
              <div class="column is-half">
                <div class="field">
                  <label class="label">WhatsApp</label>
                  <div class="control has-icons-left">
                    <input class="input is-static" readonly value="<%= psychologist_profile.whatsapp %>">
                    <span class="icon is-left"><i class="fab fa-whatsapp"></i></span>
                  </div>
                </div>
              </div>
            <% end %>

            <% [psychologist_profile.contact_phone, psychologist_profile.contact_phone2, psychologist_profile.contact_phone3].compact.each_with_index do |phone, idx| %>
              <div class="column is-half">
                <div class="field">
                  <label class="label"><%= ['Primary', 'Secondary', 'Additional'][idx] %> Phone</label>
                  <div class="control has-icons-left">
                    <input class="input is-static" readonly value="<%= phone %>">
                    <span class="icon is-left"><i class="fas fa-phone"></i></span>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
