<!-- Improved Search and Filter Bar -->
<div class="search-card box mb-4">
  <%= form_tag psychologist_profiles_path, method: :get, class: "search-form" do %>
    <!-- Search Header -->
    <div class="search-header mb-3">
      <div class="field has-addons">
        <div class="control is-expanded">
          <%= text_field_tag :search, params[:search], 
                class: "input", 
                placeholder: "Name, specialty, or keyword..." %>
        </div>
        <div class="control">
          <button class="button is-primary" type="submit">
            <span class="icon"><i class="fas fa-search"></i></span>
          </button>
        </div>
        <% if any_filters_active?(params) %>
          <div class="control">
            <%= link_to psychologist_profiles_path, class: "button is-light", id: "clear-all-filters" do %>
              <span class="icon"><i class="fas fa-times"></i></span>
              <span>Clear All</span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <!-- Active Filters Display -->
    <% if any_filters_active?(params) %>
      <div class="field is-grouped is-grouped-multiline mb-3">
        <% if params[:search].present? %>
          <div class="control">
            <div class="tags has-addons">
              <span class="tag is-primary">Search: <%= params[:search] %></span>
              <%= link_to psychologist_profiles_path(request.query_parameters.except(:search)), class: "tag is-delete" do %>
                <i class="fas fa-times"></i>
              <% end %>
            </div>
          </div>
        <% end %>

        <% (params[:specialty_ids] || []).each do |id| %>
          <% specialty = Specialty.find_by(id: id) %>
          <% if specialty %>
            <div class="control">
              <div class="tags has-addons">
                <span class="tag is-info"><%= specialty.name %></span>
                <%= link_to psychologist_profiles_path(request.query_parameters.except(:specialty_ids).merge(specialty_ids: request.query_parameters[:specialty_ids] - [id.to_s])), class: "tag is-delete" do %>
                  <i class="fas fa-times"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>

        <% (params[:issue_ids] || []).each do |id| %>
          <% issue = Issue.find_by(id: id) %>
          <% if issue %>
            <div class="control">
              <div class="tags has-addons">
                <span class="tag is-warning"><%= issue.name %></span>
                <%= link_to psychologist_profiles_path(request.query_parameters.except(:issue_ids).merge(issue_ids: request.query_parameters[:issue_ids] - [id.to_s])), class: "tag is-delete" do %>
                  <i class="fas fa-times"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>

        <% (params[:client_type_ids] || []).each do |id| %>
          <% client_type = ClientType.find_by(id: id) %>
          <% if client_type %>
            <div class="control">
              <div class="tags has-addons">
                <span class="tag is-success"><%= client_type.name %></span>
                <%= link_to psychologist_profiles_path(request.query_parameters.except(:client_type_ids).merge(client_type_ids: request.query_parameters[:client_type_ids] - [id.to_s])), class: "tag is-delete" do %>
                  <i class="fas fa-times"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <!-- Filter Sections -->
    <div class="filter-sections">
      <!-- Main Filters Row -->
      <div class="columns is-multiline is-variable is-2" style="margin-bottom: 6rem;">
        <!-- Specialty Filter -->
        <div class="column is-4-tablet is-12-mobile">
          <div class="field">
            <label class="label is-small">Specialties</label>
            <div class="control">
              <div class="select is-small is-fullwidth">
                <%= select_tag :specialty_ids, 
                      options_for_select(
                        Specialty.all.map { |s| [s.name, s.id] },
                        params[:specialty_ids]
                      ),
                      multiple: true,
                      class: "multiselect filter-select",
                      onchange: "this.form.submit()" %>
              </div>
            </div>
          </div>
        </div>

        <!-- Issue Filter -->
        <div class="column is-4-tablet is-12-mobile">
          <div class="field">
            <label class="label is-small">Issues</label>
            <div class="control">
              <div class="select is-small is-fullwidth">
                <%= select_tag :issue_ids, 
                      options_for_select(
                        Issue.all.map { |i| [i.name, i.id] },
                        params[:issue_ids]
                      ),
                      multiple: true,
                      class: "multiselect filter-select",
                      onchange: "this.form.submit()" %>
              </div>
            </div>
          </div>
        </div>

        <!-- Client Type Filter -->
        <div class="column is-4-tablet is-12-mobile">
          <div class="field">
            <label class="label is-small">Client Types</label>
            <div class="control">
              <div class="select is-small is-fullwidth">
                <%= select_tag :client_type_ids, 
                      options_for_select(
                        ClientType.all.map { |i| [i.name, i.id] },
                        params[:client_type_ids]
                      ),
                      multiple: true,
                      class: "multiselect filter-select",
                      onchange: "this.form.submit()" %>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Delivery Method Row -->
      <div style="margin-top: 6rem;">
      <label class="label is-small mb-2">Delivery Method</label>
 

                       <div class="tags are-medium">
                            <label class="checkbox mr-3">
                              <%= check_box_tag "in_person", "1", params[:in_person] == "1", class: "tag is-clickable",  onchange: "this.form.submit()" %>
                              In Person
                            </label>
                            <label class="checkbox mr-3">
                              <%= check_box_tag "online", "1", params[:online] == "1", class: "tag is-clickable" , onchange: "this.form.submit()" %>
                              Online
                            </label>
                          </div>
      </div>


      

<!-- In your search form -->
<div class="columns is-multiline is-variable is-2 mb-4">
  <!-- Country Filter -->
  <div class="column is-4-tablet is-12-mobile">
    <div class="field">
      <label class="label is-small">Country</label>
      <div class="control">
        <div class="select is-small is-fullwidth">
          <%= select_tag :country, 
                options_for_select(
                  [['All Countries', '']] + 
                  countries_with_cities.map { |c| c['name'] },
                  params[:country]
                ),
                class: "select is-small filter-select",
                id: "search-country",
                onchange: "updateCityFilter(); this.form.submit()" %>
        </div>
      </div>
    </div>
  </div>

  <!-- City Filter -->
  <div class="column is-4-tablet is-12-mobile">
    <div class="field">
      <label class="label is-small">City</label>
      <div class="control">
        <div class="select is-small is-fullwidth">
          <%= select_tag :city, 
                options_for_select(
                  [['All Cities', '']],
                  params[:city]
                ),
                class: "select is-small filter-select",
                id: "search-city",
                disabled: params[:country].blank? %>
        </div>
      </div>
    </div>
  </div>
</div>













        <!-- Gender Filter -->
   <div class="columns is-multiline">
  <!-- Gender Filter -->
  <div class="column is-6-tablet is-12-mobile">
    <div class="field">
      <label class="label is-small">Gender</label>
      <div class="control">
        <div class="select is-small is-fullwidth">
          <%= select_tag :gender, 
            options_for_select(
              [['Any Gender', '']] + 
              @genders.map { |g| [g.humanize.titleize, g] },
              params[:gender]
            ),
            class: "select is-small",
            onchange: "this.form.submit()" %>
        </div>
      </div>
    </div>
  </div>

  <!-- Languages Filter -->
  <div class="column is-6-tablet is-12-mobile">
    <div class="field">
      <label class="label is-small">Languages</label>
      <div class="control">
        <div class="select is-small is-fullwidth">
          <%= select_tag "language_ids[]", 
                options_from_collection_for_select(Language.all, :id, :name, params[:language_ids]),
                multiple: true,
                class: "select is-multiple",
                onchange: "this.form.submit()" %>
        </div>
      </div>
    </div>
  </div>
</div>

      
      <!-- Price Range Row -->
      <div class="columns is-multiline is-variable is-2">
        <div class="column is-3-tablet is-12-mobile">
          <div class="field">
            <label class="label is-small">Min Rate</label>
            <div class="control">
              <%= number_field_tag :min_rate, params[:min_rate], step: 1, class: "input is-small", min: 0 %>
            </div>
          </div>
        </div>

        <div class="column is-3-tablet is-12-mobile">
          <div class="field">
            <label class="label is-small">Max Rate</label>
            <div class="control">
              <%= number_field_tag :max_rate, params[:max_rate], step: 1, class: "input is-small", min: 0 %>
            </div>
          </div>
        </div>

        <div class="column is-3-tablet is-12-mobile">
          <div class="field">
            <label class="label is-small">Currency</label>
            <div class="control">
              <div class="select is-small is-fullwidth">
                <%= select_tag :currency, 
                      options_for_select(["KGS", "KZT", "UZS", "USD", "RUB"], params[:currency]), 
                      include_blank: "Any", 
                      class: "select is-small" %>
              </div>
            </div>
          </div>
        </div>
        
        <div class="column is-3-tablet is-12-mobile is-flex is-align-items-flex-end">
          <div class="field">
            <div class="control">
              <button type="submit" class="button is-small is-info is-fullwidth">
                Apply Filters
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>



















<!-- Psychologist Profiles -->
<div class="profiles-container">
  <% @psychologist_profiles.each do |profile| %>
    <div class="profile-card box mb-4">
      <div class="columns is-mobile">
        <!-- Profile Image -->
        <div class="column is-2-desktop is-3-tablet is-4-mobile profile-img-container has-text-centered">
          <figure class="image is-96x96 mx-auto">
            <% if profile.profile_img.attached? %>
              <%= image_tag url_for(profile.profile_img), class: "is-rounded profile-image" %>
            <% else %>
              <img src="/assets/default-profile.png" alt="Default Profile" class="is-rounded profile-image">
            <% end %>
          </figure>
        </div>
        
        <!-- Profile Info -->
        <div class="column profile-info">
          <div class="columns is-mobile">
            <div class="column">
              <!-- Name and Badges -->
              <h3 class="title is-5 mb-1">
                <% if profile.is_doctor %>Dr. <% end %><%= profile.first_name %> <%= profile.last_name %> 
              </h3>
              
              <!-- Qualifications and Rate -->
              <div class="mb-2">
                <% if profile.standard_rate.present? %>
                  <span class="tag is-light">
                    <i class="fas fa-money-bill-wave mr-1"></i> <%= profile.standard_rate %> <%= profile.currency %>
                  </span>
                <% end %>
                <% if profile.is_doctor %>
                  <span class="tag is-primary is-light ml-1">
                    <i class="fas fa-user-md mr-1"></i> PhD
                  </span>
                <% end %>
                <% if profile.is_degree_boolean %>
                  <span class="tag is-info is-light ml-1">
                    <i class="fas fa-certificate mr-1"></i> Certified
                  </span>
                <% end %>
              </div>
              
              <!-- Location and Experience -->
              <% if profile.city.present? || profile.country.present? || profile.years_of_experience.present? %>
                <p class="location-text mb-2">
                  <% if profile.city.present? || profile.country.present? %>
                    <span class="icon is-small"><i class="fas fa-map-marker-alt"></i></span>
                    <%= [profile.city, profile.country].compact.join(", ") %>
                  <% end %>
                  <% if profile.years_of_experience.present? %>
                    <span class="ml-2"><i class="fas fa-clock"></i> <%= profile.years_of_experience %> years exp.</span>
                  <% end %>
                </p>
              <% end %>
              
              <!-- Short Bio -->
              <% if profile.about_me.present? %>
                <p class="has-text-grey is-size-7 mb-2">
                  <%= truncate(profile.about_me, length: 150) %>
                </p>
              <% end %>
              
              <!-- Specialties and Issues Tags -->
              <% if profile.specialties.any? || profile.issues.any? %>
                <div class="tags are-small mt-2">
                  <% profile.specialties.each do |specialty| %>
                    <span class="tag is-info is-light"><%= specialty.name %></span>
                  <% end %>
                  <% profile.issues.each do |issue| %>
                    <span class="tag is-warning is-light"><%= issue.name %></span>
                  <% end %>
                </div>
              <% end %>
              
              <!-- Client Types -->
              <% if profile.client_types.any? %>
                <p class="is-size-7 has-text-grey mt-2">
                  <span class="icon is-small"><i class="fas fa-users"></i></span>
                  <%= profile.client_types.map(&:name).join(" • ") %>
                </p>
              <% end %>
            </div>
            
            <!-- Contact Information (right side) -->
            <div class="column is-narrow">
              <div class="buttons are-small is-flex is-flex-direction-column">
                <%= link_to psychologist_profile_path(profile), class: "button is-primary is-outlined mb-2" do %>
                  <span class="icon is-small"><i class="fas fa-user"></i></span>
                  <span>View Profile</span>
                <% end %>
                
                <button class="button is-text contact-button" data-target="contact-<%= profile.id %>">
                  <span class="icon is-small"><i class="fas fa-envelope"></i></span>
                  <span>Contact</span>
                </button>
              </div>
              
              <!-- Contact Icons -->
              <div class="contact-icons mt-2">
                <% if profile.contact_phone.present? %>
                  <a href="tel:<%= profile.contact_phone %>" class="icon-link mr-1" title="Phone">
                    <span class="icon"><i class="fas fa-phone"></i></span>
                  </a>
                <% end %>
                
                <% if profile.user.email.present? %>
                  <a href="mailto:<%= profile.user.email %>" class="icon-link mr-1" title="Email">
                    <span class="icon"><i class="fas fa-envelope"></i></span>
                  </a>
                <% end %>
                
                <% if profile.telegram.present? %>
                  <a href="https://t.me/<%= profile.telegram %>" target="_blank" class="icon-link mr-1" title="Telegram">
                    <span class="icon"><i class="fab fa-telegram"></i></span>
                  </a>
                <% end %>
                
                <% if profile.whatsapp.present? %>
                  <a href="https://wa.me/<%= profile.whatsapp %>" target="_blank" class="icon-link" title="WhatsApp">
                    <span class="icon"><i class="fab fa-whatsapp"></i></span>
                  </a>
                <% end %>
              </div>
              
              <!-- Hidden Contact Info -->
              <div id="contact-<%= profile.id %>" class="contact-info mt-2" style="display: none;">
                <% if profile.contact_phone.present? %>
                  <p class="is-size-7">
                    <span class="icon is-small"><i class="fas fa-phone"></i></span>
                    <a href="tel:<%= profile.contact_phone %>"><%= profile.contact_phone %></a>
                  </p>
                <% end %>
                
                <% if profile.user.email.present? %>
                  <p class="is-size-7">
                    <span class="icon is-small"><i class="fas fa-envelope"></i></span>
                    <a href="mailto:<%= profile.user.email %>"><%= profile.user.email %></a>
                  </p>
                <% end %>
                
                <% if profile.telegram.present? %>
                  <p class="is-size-7">
                    <span class="icon is-small"><i class="fab fa-telegram"></i></span>
                    <a href="https://t.me/<%= profile.telegram %>" target="_blank">@<%= profile.telegram %></a>
                  </p>
                <% end %>
                
                <% if profile.whatsapp.present? %>
                  <p class="is-size-7">
                    <span class="icon is-small"><i class="fab fa-whatsapp"></i></span>
                    <a href="https://wa.me/<%= profile.whatsapp %>" target="_blank"><%= profile.whatsapp %></a>
                  </p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<!-- JavaScript for Contact Info Toggle and Clear All -->
<script>
document.addEventListener('turbo:load', function() {
  document.querySelectorAll('.contact-button').forEach(function(button) {
    button.addEventListener('click', function(e) {
      e.preventDefault();
      const targetId = this.getAttribute('data-target');
      const contactInfo = document.getElementById(targetId);
      if (contactInfo) {
        contactInfo.style.display = contactInfo.style.display === 'none' ? 'block' : 'none';
      }
    });
  });
});

document.getElementById('clear-all-filters')?.addEventListener('click', function(e) {
  const form = document.querySelector('.search-form');
  
  // Reset all filter selects
  form.querySelectorAll('.filter-select').forEach(function(select) {
    if (select.multiple) {
      // For multiselects
      Array.from(select.options).forEach(option => {
        option.selected = false;
      });
    } else {
      // For single selects
      select.value = '';
    }
  });
  
  // Reset number inputs
  form.querySelectorAll('.filter-input').forEach(function(input) {
    input.value = '';
  });
  
  // Reset radio buttons
  form.querySelectorAll('.filter-radio').forEach(function(radio) {
    radio.checked = false;
  });
  
  // Reset search input
  form.querySelector('input[name="search"]').value = '';
  
  // Submit the form to apply the cleared filters
  form.submit();
  });






const countryCityData = <%= raw countries_with_cities.each_with_object({}) { |country, hash| 
  hash[country['name']] = country['cities'] }.to_json %>;

document.addEventListener('turbo:load', function() {
  // Initialize city filter if country is already selected
  const countrySelect = document.getElementById('search-country');
  const citySelect = document.getElementById('search-city');
  
  if (countrySelect && countrySelect.value) {
    updateCityFilter();
  }
  
  // Add event listener for country change
  countrySelect?.addEventListener('change', updateCityFilter);
});

function updateCityFilter() {
  const countrySelect = document.getElementById('search-country');
  const citySelect = document.getElementById('search-city');
  
  if (!countrySelect || !citySelect) return;
  
  const selectedCountry = countrySelect.value;
  
  // Clear existing options except the first "All Cities" option
  citySelect.innerHTML = '<option value="">All Cities</option>';
  citySelect.disabled = !selectedCountry;

  if (selectedCountry && countryCityData[selectedCountry]) {
    // Add cities for the selected country
    countryCityData[selectedCountry].forEach(city => {
      const option = new Option(city, city);
      citySelect.add(option);
    });
    
    // Set the selected value from params if it exists in available cities
    const urlParams = new URLSearchParams(window.location.search);
    const selectedCity = urlParams.get('city');
    if (selectedCity && countryCityData[selectedCountry].includes(selectedCity)) {
      citySelect.value = selectedCity;
    }
  }
}



</script>