<div class="box">
  <%= form_tag psychologist_profiles_path, method: :get, class: "search-form" do %>
    
    <!-- Main Search Bar -->
    <div class="field has-addons mb-4">
      <div class="control is-expanded has-icons-left">
        <%= text_field_tag :search, params[:search], 
              class: "input is-medium", 
              placeholder: t('psychologist_search.placeholder') %>
        <span class="icon is-left">
          <i class="fas fa-search"></i>
        </span>
      </div>
      <div class="control">
        <button class="button is-primary-blue is-medium" type="submit">
          <span class="icon is-hidden-mobile">
            <i class="fas fa-search"></i>
          </span>
          <span class="is-hidden-tablet"><%= t('psychologist_search.search_button') %></span>
          <span class="is-hidden-mobile"><%= t('psychologist_search.search_button') %></span>
        </button>
      </div>
      <% if any_filters_active?(params) %>
        <div class="control">
          <%= link_to psychologist_profiles_path, class: "button is-primary-blue is-medium" do %>
            <span class="icon">
              <i class="fas fa-times"></i>
            </span>
            <span class="is-hidden-mobile"><%= t('psychologist_search.clear_all') %></span>
          <% end %>
        </div>
      <% end %>
    </div>

    <!-- Collapsible Filters Section - Hidden only on mobile -->
    <div class="block" x-data="{ showFilters: window.innerWidth > 768 }">
      <!-- Toggle button - hidden on tablet/desktop -->
      <button type="button" 
              class="button is-light is-fullwidth is-justify-content-space-between is-hidden-tablet" 
              @click="showFilters = !showFilters"
              x-show="!showFilters">
        <span>
          <span class="icon">
            <i class="fas fa-filter"></i>
          </span>
          <span><%= t('psychologist_search.filters') %></span>
        </span>
        <span class="icon">
          <i class="fas fa-chevron-down"></i>
        </span>
      </button>

      <!-- Filters content - always visible on desktop, toggleable on mobile -->
      <div x-show="showFilters" x-transition class="box mt-3">
        
        <!-- Primary Filters -->
        <div class="columns is-multiline">
          <!-- Specialties -->
          <div class="column is-6-tablet is-12-mobile">
            <div class="field">
              <label class="label"><%= t('psychologist_search.specialties_label') %></label>
              <div class="control">
                <%= select_tag :specialty_ids,
                      options_for_select(
                        Specialty.all.map { |s| [s.name, s.id] },
                        params[:specialty_ids]
                      ),
                      multiple: true,
                      class: "filter-select tom-select",
                      id: "specialties-select" %>
              </div>
            </div>
          </div>

          <!-- Issues -->
          <div class="column is-6-tablet is-12-mobile">
            <div class="field">
              <label class="label"><%= t('psychologist_search.issues_label') %></label>
              <div class="control">
                <%= select_tag :issue_ids,
                      options_for_select(
                        Issue.all.map { |i| [i.name, i.id] },
                        params[:issue_ids]
                      ),
                      multiple: true,
                      class: "filter-select tom-select",
                      id: "issues-select" %>
              </div>
            </div>
          </div>

          <!-- Client Types -->
          <div class="column is-6-tablet is-12-mobile">
            <div class="field">
              <label class="label"><%= t('psychologist_search.client_types_label') %></label>
              <div class="control">
                <div class="select is-fullwidth">
                  <%= select_tag :client_type_id, 
                                  options_for_select(
                                    [[t('psychologist_search.all_client_types'), '']] +
                                    ClientType.all.map { |i| [i.name, i.id] },
                                    params[:client_type_id]
                                  ),
                                  class: "select filter-select"
                                  %>
                </div>
              </div>
            </div>
          </div>

          <!-- Languages -->
          <div class="column is-6-tablet is-12-mobile">
            <div class="field">
              <label class="label"><%= t('psychologist_search.languages_label') %></label>
              <div class="control">
                <%= select_tag "language_ids",
                      options_from_collection_for_select(Language.all, :id, :name, selected: params[:language_ids]),
                      multiple: true,
                      class: "tom-select filter-select",
                      id: "languages-select",
                      data: { placeholder: t('psychologist_search.select_languages_placeholder') } %>
              </div>
            </div>
          </div>
        </div>

<!-- Delivery Method - CSS Only Version -->
<div class="delivery-method-container">
  <div class="field">
    <label class="label"><%= t('psychologist_search.delivery_method_label') %></label>
    <div class="field is-grouped is-grouped-multiline">
      <div class="control">
        <!-- Wrap the checkbox inside the label -->
        <label class="button delivery-method">
          <%= check_box_tag "in_person", "1", params[:in_person] == "1", class: "delivery-method-input" %>
          <span class="icon">
            <i class="fas fa-user"></i>
          </span>
          <span><%= t('psychologist_search.in_person') %></span>
        </label>
      </div>
      <div class="control">
        <label class="button delivery-method">
          <%= check_box_tag "online", "1", params[:online] == "1", class: "delivery-method-input" %>
          <span class="icon">
            <i class="fas fa-laptop"></i>
          </span>
          <span><%= t('psychologist_search.online') %></span>
        </label>
      </div>
    </div>
  </div>
</div>

<!-- Religion -->
<% safe_religions = @religions || [] %>

<div class="column is-6-tablet is-12-mobile">
  <div class="field">
    <label class="label"><%= t('psychologist_search.religion_label') %></label>
    <div class="control">
      <div class="select is-fullwidth">
        <%= select_tag :religion, 
          options_for_select(
            [[t('psychologist_search.any_religion'), '']] + 
            safe_religions.map { |r| [t("enums.religion.#{r}"), r] }, # Changed this line
            params[:religion]
          ),
          class: "select" %>
      </div>
    </div>
  </div>
</div>


        <!-- Location Filters -->
        <div class="columns is-multiline">
          <div class="column is-6-tablet is-12-mobile">
            <div class="field">
              <label class="label"><%= t('psychologist_search.country_label') %></label>
              <div class="control">
                <div class="select is-fullwidth">
                    <%= select_tag :country,
                                   options_for_select(
                                     [[t('psychologist_search.all_countries'), '']] +
                                     countries_with_cities.map { |c| [c['name'], c['name']] },
                                     params[:country]
                                   ),
                                   class: "select filter-select",
                                   id: "search-country",
                                   onchange: "updateCityFilter()" %>
                </div>
              </div>
            </div>
          </div>

          <div class="column is-6-tablet is-12-mobile">
            <div class="field">
              <label class="label"><%= t('psychologist_search.city_label') %></label>
              <div class="control">
                <div class="select is-fullwidth">
<%= select_tag :city,
options_for_select(
  [[t('psychologist_search.all_cities'), '']], 
  params[:city] 
),
class: "select filter-select",
id: "search-city",
disabled: params[:country].blank? %>
                </div>
              </div>
            </div>
          </div>
        </div>

       <div class="columns is-multiline">
  <!-- Gender -->
  <div class="column is-6-tablet is-12-mobile">
    <div class="field">
      <label class="label"><%= t('psychologist_search.gender_label') %></label>
      <div class="control">
        <div class="select is-fullwidth">
          <%= select_tag :gender, 
            options_for_select(
              [[t('psychologist_search.any_gender'), '']] + 
              @genders.map { |g| [t("enums.gender.#{g}"), g] }, # Changed this line
              params[:gender]
            ),
            class: "select" %>
        </div>
      </div>
    </div>
  </div>

  <!-- Price Range: Min / Max / Currency -->
  <div class="column is-6-tablet is-12-mobile">
    <div class="field">
      <label class="label"><%= t('psychologist_search.price_range_label') %></label>
      <div class="field has-addons">
        <!-- Min -->
        <div class="control is-expanded">
          <%= number_field_tag :min_rate, params[:min_rate], 
              step: 1, 
              class: "input", 
              min: 0,
              placeholder: t('psychologist_search.min_rate_placeholder') %>
        </div>

        <!-- Max -->
        <div class="control is-expanded">
          <%= number_field_tag :max_rate, params[:max_rate], 
              step: 1, 
              class: "input", 
              min: 0,
              placeholder: t('psychologist_search.max_rate_placeholder') %>
        </div>

        <!-- Currency Display Only -->
        <div class="control">
          <input class="input is-static has-text-weight-semibold" type="text" readonly value="  <%= current_currency %>">
        </div>
      </div>
    </div>
  </div>
</div>


        <!-- Apply Filters Button -->
        <div class="field">
          <div class="control">
            <button type="submit" class="button is-primary-blue is-fullwidth">
              <span class="icon">
                <i class="fas fa-check"></i>
              </span>
              <span><%= t('psychologist_search.apply_filters_button') %></span>
            </button>
          </div>
        </div>

      </div>
    </div>
  <% end %>
</div>





<!-- Psychologist Profiles -->
<div class="profiles-container">
  <% @psychologist_profiles.each do |profile| %>
    <div class="profile-card box mb-4">
      <div class="columns is-mobile">
        <!-- Profile Image -->
        <div class="column is-2-desktop is-3-tablet is-4-mobile profile-img-container has-text-centered">
          <figure class="image is-96x96 mx-auto">
            <% if profile.profile_img.attached? %>
              <%= image_tag profile.profile_img.variant(resize_to_limit: [96, 96]), class: "is-rounded"%>           
            <% else %>
              <img src="/assets/default-profile.png" alt="Default Profile" class="is-rounded profile-image">
            <% end %>
          </figure>
        </div>
        
        <!-- Profile Info -->
        <div class="column profile-info">
          <div class="columns is-mobile">
            <div class="column">
              <!-- Name and Badges -->
              <h3 class="title is-5 mb-1">
                <% if profile.is_doctor %><%= t('psychologist_search.phd_badge') %> <% end %><%= profile.first_name %> <%= profile.last_name %> 
              </h3>
              
              <!-- Qualifications and Rate -->
              <div class="mb-2">
                <% if profile.standard_rate.present? %>
                  <span class="tag is-light">
                    <i class="fas fa-money-bill-wave mr-1">
                    </i> <% converted = profile.converted_rate(current_currency) %>
<%= humanized_money_with_symbol(converted) %>

                  </span>
                <% end %>
                <% if profile.is_doctor %>
                  <span class="tag is-primary is-light ml-1">
                    <i class="fas fa-user-md mr-1"></i> <%= t('psychologist_search.phd_badge') %>
                  </span>
                <% end %>
                <% if profile.is_degree_boolean %>
                  <span class="tag is-info is-light ml-1">
                    <i class="fas fa-certificate mr-1"></i> <%= t('psychologist_search.certified_badge') %>
                  </span>
                <% end %>
              </div>
              
              <!-- Location and Experience -->
              <% if profile.city.present? || profile.country.present? || profile.years_of_experience.present? %>
                <p class="location-text mb-2">
                  <% if profile.city.present? || profile.country.present? %>
                    <span class="icon is-small"><i class="fas fa-map-marker-alt"></i></span>
                    <%= [profile.city, profile.country].compact.join(", ") %>
                  <% end %>
                  <% if profile.years_of_experience.present? %>
                    <span class="ml-2"><i class="fas fa-clock"></i> <%= t('psychologist_profiles.show.years_experience_short', count: profile.years_of_experience) %></span>
                  <% end %>
                </p>
              <% end %>
              
              <!-- Short Bio -->
              <% if profile.about_me.present? %>
                <p class="has-text-grey is-size-7 mb-2">
                  <%= truncate(profile.about_me, length: 150) %>
                </p>
              <% end %>
              
              <!-- Specialties and Issues Tags -->
              <% if profile.specialties.any? || profile.issues.any? %>
                <div class="tags are-small mt-2">
                  <% profile.specialties.each do |specialty| %>
                    <span class="tag is-info is-light"><%= specialty.name %></span>
                  <% end %>
                  <% profile.issues.each do |issue| %>
                    <span class="tag is-warning is-light"><%= issue.name %></span>
                  <% end %>
                </div>
              <% end %>
              
              <!-- Client Types -->
              <% if profile.client_types.any? %>
                <p class="is-size-7 has-text-grey mt-2">
                  <span class="icon is-small"><i class="fas fa-users"></i></span>
                  <%= profile.client_types.map(&:name).join(" • ") %>
                </p>
              <% end %>
            </div>

            <!-- Languages Tags (moved to match common structure) -->
            <% if profile.languages.any? %>
              <div class="tags are-small mt-2">
                <% profile.languages.each do |language| %>
                  <span class="tag is-info is-light"><%= language.name %></span>
                <% end %>
              </div>
            <% end %>
            
            <!-- Contact Information (right side) -->
            <div class="column is-narrow">
              <div class="buttons are-small is-flex is-flex-direction-column">
                <%= link_to psychologist_profile_path(profile), class: "button is-primary is-outlined mb-2" do %>
                  <span class="icon is-small"><i class="fas fa-user"></i></span>
                  <span><%= t('psychologist_search.view_profile_button') %></span>
                <% end %>
                
                <button class="button is-text contact-button" data-target="contact-<%= profile.id %>">
                  <span class="icon is-small"><i class="fas fa-envelope"></i></span>
                  <span><%= t('psychologist_search.contact_button') %></span>
                </button>
              </div>
              
              <!-- Contact Icons -->
              <div class="contact-icons mt-2">
                <% if profile.contact_phone.present? %>
                  <a href="tel:<%= profile.contact_phone %>" class="is-primary-blue mr-1" title="Phone">
                    <span class="icon"><i class="fas fa-phone"></i></span>
                  </a>
                <% end %>
                
                <% if profile.user.email.present? %>
                  <a href="mailto:<%= profile.user.email %>" class="is-primary-blue mr-1" title="Email">
                    <span class="icon"><i class="fas fa-envelope"></i></span>
                  </a>
                <% end %>
                
                <% if profile.telegram.present? %>
                  <a href="https://t.me/<%= profile.telegram %>" target="_blank" class="is-primary-blue mr-1" title="Telegram">
                    <span class="icon"><i class="fab fa-telegram"></i></span>
                  </a>
                <% end %>
                
                <% if profile.whatsapp.present? %>
                  <a href="https://wa.me/<%= profile.whatsapp %>" target="_blank" class="is-primary-blue" title="WhatsApp">
                    <span class="icon"><i class="fab fa-whatsapp"></i></span>
                  </a>
                <% end %>
              </div>
              
              <!-- Hidden Contact Info -->
              <div id="contact-<%= profile.id %>" class="contact-info mt-2" style="display: none;">
                <% if profile.contact_phone.present? %>
                  <p class="is-size-7">
                    <span class="icon is-small"><i class="fas fa-phone"></i></span>
                    <a href="tel:<%= profile.contact_phone %>"><%= profile.contact_phone %></a>
                  </p>
                <% end %>
                
                <% if profile.user.email.present? %>
                  <p class="is-size-7">
                    <span class="icon is-small"><i class="fas fa-envelope"></i></span>
                    <a href="mailto:<%= profile.user.email %>"><%= profile.user.email %></a>
                  </p>
                <% end %>
                
                <% if profile.telegram.present? %>
                  <p class="is-size-7">
                    <span class="icon is-small"><i class="fab fa-telegram"></i></span>
                    <a href="https://t.me/<%= profile.telegram %>" target="_blank">@<%= profile.telegram %></a>
                  </p>
                <% end %>
                
                <% if profile.whatsapp.present? %>
                  <p class="is-size-7">
                    <span class="icon is-small"><i class="fab fa-whatsapp"></i></span>
                    <a href="https://wa.me/<%= profile.whatsapp %>" target="_blank"><%= profile.whatsapp %></a>
                  </p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>


<style>
  @media screen and (min-width: 769px) {
    [x-cloak] { 
      display: block !important; 
    }
    
    .filter-section {
      display: block !important;
    }
  }

  @media screen and (max-width: 768px) {
    .box {
      margin: 0.5rem;
      padding: 1rem;
    }
    
    .field.has-addons .control:not(:last-child) .button,
    .field.has-addons .control:not(:last-child) .input {
      border-radius: 4px 0 0 4px;
    }
    
    .field.has-addons .control:last-child .button,
    .field.has-addons .control:last-child .input {
      border-radius: 0 4px 4px 0;
    }
    
    .tags .tag {
      margin-bottom: 0.25rem;
    }
    
    .button.is-fullwidth {
      justify-content: space-between;
    }
  }

  .field:not(:last-child) {
    margin-bottom: 1rem;
  }

  .delivery-method .delivery-method-input {
    position: absolute;
    opacity: 0;
  }
  
  .delivery-method {
    background-color: white;
    border: 1px solid #dbdbdb;
    color: #363636;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    transition: all 0.2s ease;
  }
  
  .delivery-method:has(.delivery-method-input:checked) {
    background-color: #485fc7; /* Bulma's primary color */
    border-color: #485fc7;
    color: white;
  }
  
  .delivery-method .delivery-method-input:checked ~ .icon,
  .delivery-method .delivery-method-input:checked ~ span {
    color: white;
  }
  
  .delivery-method:hover {
    border-color: #b5b5b5;
  }
  
  .delivery-method:focus-within {
    box-shadow: 0 0 0 0.125em rgba(72, 95, 199, 0.25);
  }

  .delivery-method-container .field {
    margin-bottom: 1rem;
  }
  
  .delivery-method-container .label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #363636;
  }
  
  .delivery-method-container .is-grouped {
    display: flex;
    gap: 0.5rem;
  }
  
  .delivery-method-container .control {
    display: flex;
    align-items: center;
  }
</style>








<script>
  // Country-city JSON data - must come first
  const countryCityData = <%= raw countries_with_cities.each_with_object({}) { |country, hash| hash[country['name']] = country['cities'] }.to_json %>;
</script>

<script>
  // Make updateCityFilter globally available
  function updateCityFilter() {
    const countrySelect = document.getElementById('search-country');
    const citySelect = document.getElementById('search-city');
    const selectedCountry = countrySelect?.value;
    const cities = countryCityData[selectedCountry] || [];

    if (!citySelect) return;
    citySelect.innerHTML = '<option value="">All Cities</option>';
    citySelect.disabled = cities.length === 0;

    cities.forEach(city => {
      const option = new Option(city, city);
      citySelect.add(option);
    });

    const urlParams = new URLSearchParams(window.location.search);
    const selectedCity = urlParams.get('city');
    if (selectedCity && cities.includes(selectedCity)) {
      citySelect.value = selectedCity;
    }
  }
</script>

<script>
  document.addEventListener('turbo:load', function () {
    // Toggle contact info
    document.querySelectorAll('.contact-button').forEach(function (button) {
      button.addEventListener('click', function (e) {
        e.preventDefault();
        const targetId = this.getAttribute('data-target');
        const contactInfo = document.getElementById(targetId);
        if (contactInfo) {
          contactInfo.style.display = contactInfo.style.display === 'none' ? 'block' : 'none';
        }
      });
    });

    // Clear filters
    document.getElementById('clear-all-filters')?.addEventListener('click', function (e) {
      e.preventDefault();
      const form = document.querySelector('.search-form');
      const url = new URL(form.action);
      form.reset();
      window.location.href = url.pathname;
    });

    // Initialize TomSelect for all select elements EXCEPT country/city selects
    document.querySelectorAll(".tom-select").forEach((el) => {
      // Skip initialization for country and city selects
      if (el.id === 'search-country' || el.id === 'search-city') return;
      
      // Only initialize if not already initialized
      if (!el.classList.contains('tomselected')) {
        new TomSelect(el, {
          plugins: ['remove_button'],
          persist: false,
          create: false,
          placeholder: el.getAttribute('data-placeholder') || 'Выберите...'
        });
      }
    });

    // TomSelect for issues (with duplicate initialization check)
    const issuesSelect = document.getElementById("issues-select");
    if (issuesSelect && !issuesSelect.classList.contains('tomselected')) {
      new TomSelect(issuesSelect, {
        plugins: ['remove_button'],
        persist: false,
        create: false,
        placeholder: 'Выберите проблемы'

      });
    }

    // TomSelect for specialties (with duplicate initialization check)
    const specialtiesSelect = document.getElementById("specialties-select");
    if (specialtiesSelect && !specialtiesSelect.classList.contains('tomselected')) {
      new TomSelect(specialtiesSelect, {
        plugins: ['remove_button'],
        persist: false,
        create: false,
        placeholder: 'Выберите специальности'
      });
    }

    // Country-city select logic
    const countrySelect = document.getElementById('search-country');
    if (countrySelect && countrySelect.value) {
      updateCityFilter();
    }

    countrySelect?.addEventListener('change', updateCityFilter);

    // Responsive filter toggle (Alpine support)
    window.addEventListener('resize', function () {
      const filterSection = document.querySelector('[x-data]');
      if (filterSection && filterSection.__x) {
        filterSection.__x.$data.showFilters = window.innerWidth > 768;
      }
    });
  });
</script>