
<div class="box mb-4">
  <div class="columns is-multiline">
    <div class="column is-quarter">
      <div class="field">
        <%= f.label :degree, class: "label" %>
        <div class="control">
          <%= f.text_field :degree, class: "input" %>
        </div>
      </div>
    </div>

    <div class="column is-quarter">
      <div class="field">
        <%= f.label :field_of_study, class: "label" %>
        <div class="control">
          <%= f.text_field :field_of_study, class: "input" %>
        </div>
      </div>
    </div>

    <div class="column is-quarter">
      <div class="field">
        <%= f.label :institution, class: "label" %>
        <div class="control">
          <%= f.text_field :institution, class: "input" %>
        </div>
      </div>
    </div>

    <div class="column is-quarter">
      <div class="field">
        <%= f.label :graduation_year, class: "label" %>
        <div class="control">
          <%= f.text_field :graduation_year, class: "input" %>
        </div>
      </div>
    </div>



    <div class="column is-full">
      <!-- Hidden destroy field -->
      <%= f.hidden_field :_destroy %>

      <!-- Remove button -->
      <button type="button" class="button is-danger is-light remove-education-button">
        <span class="icon"><i class="fas fa-trash"></i></span>
        <span>Remove this education</span>
      </button>
    </div>
  
  
  
  </div>
</div>

<script>
  
</script>