<p style="color: green"><%= notice %></p>

<%= render @client_type %>

<div>
  <%= link_to "Edit this client type", edit_client_type_path(@client_type) %> |
  <%= link_to "Back to client types", client_types_path %>

  <%= button_to "Destroy this client type", @client_type, method: :delete %>
</div>
